{{- $js1 := resources.Get "js/jquery-2.2.4.js" -}}
{{- $js2 := resources.Get "js/feather.4.22.0.js" -}}
{{- $js3 := resources.Get "js/modernizr-3.6.0.js" -}}
{{- $js4 := resources.Get "js/refresh.js" -}}

{{- $js10 := resources.Get "js/highlight.9.18.1.js" -}}
{{- $js11 := resources.Get "js/highlightjs-line-numbers.2.7.0.min.js" -}}

{{- if .Site.Params.jsMinify -}}
    {{- $js1 = $js1 | resources.Minify -}}
    {{- $js2 = $js2 | resources.Minify -}}
    {{- $js3 = $js3 | resources.Minify -}}
    {{- $js4 = $js4 | resources.Minify -}}

    {{- $js10 = $js10 | resources.Minify -}}
    {{- $js11 = $js11 | resources.Minify -}}
{{- end -}}

{{- if .Site.Params.jsIntegrity -}}
  {{- $js1 = $js1 | resources.Fingerprint -}}
  {{- $js2 = $js2 | resources.Fingerprint -}}
  {{- $js3 = $js3 | resources.Fingerprint -}}
  {{- $js4 = $js4 | resources.Fingerprint -}}

  {{- $js10 = $js10 | resources.Fingerprint -}}
  {{- $js11 = $js11 | resources.Fingerprint -}}
{{- end -}}

{{- if .Site.Params.jsIntegrity -}}
  <script src="{{- $js1.Permalink | relURL -}}" integrity="{{- $js1.Data.Integrity -}}"></script>
  <script src="{{- $js2.Permalink | relURL -}}" integrity="{{- $js2.Data.Integrity -}}"></script>
  <script src="{{- $js3.Permalink | relURL -}}" integrity="{{- $js3.Data.Integrity -}}"></script>
  <script src="{{- $js4.Permalink | relURL -}}" integrity="{{- $js4.Data.Integrity -}}"></script>
{{- else -}}
  <script src="{{- $js1.Permalink | relURL -}}"></script>
  <script src="{{- $js2.Permalink | relURL -}}"></script>
  <script src="{{- $js3.Permalink | relURL -}}"></script>
  <script src="{{- $js4.Permalink | relURL -}}"></script>
{{- end -}}

{{- if .Site.Params.jsIntegrity -}}
  <script src="{{- $js10.Permalink | relURL -}}" integrity="{{- $js10.Data.Integrity -}}"></script>
  <script src="{{- $js11.Permalink | relURL -}}" integrity="{{- $js11.Data.Integrity -}}"></script>
{{- else -}}
  <script src="{{- $js10.Permalink | relURL -}}"></script>
  <script src="{{- $js11.Permalink | relURL -}}"></script>
{{- end -}}

<script>
  hljs.initHighlightingOnLoad();
  hljs.initLineNumbersOnLoad();
  document.addEventListener('DOMContentLoaded', (event) => {
    document.querySelectorAll('.codeinline').forEach((block) => {
      hljs.highlightBlock(block);
    });
  });
</script>