{{- $image1  := printf "%s" (.Get "image1") -}}
{{- $image2  := printf "%s" (.Get "image2") -}}
{{- $image3  := printf "%s" (.Get "image3") -}}
{{- $title1  := printf "%s" (.Get "title1") -}}
{{- $title2  := printf "%s" (.Get "title2") -}}
{{- $title3  := printf "%s" (.Get "title3") -}}
{{- $caption1  := printf "%s" (.Get "caption1") -}}
{{- $caption2  := printf "%s" (.Get "caption2") -}}
{{- $caption3  := printf "%s" (.Get "caption3") -}}

<div class="columns is-centered container">
    <div class="column is-one-third">
        {{- $image1 -}}
        <h3>{{- $title1 -}}</h3>
        <p>{{- $caption1 -}}</p>
    </div>

    <div class="column is-one-third">
        {{- $image2 -}}
        <h3>{{- $title2 -}}</h3>
        <p>{{- $caption2 -}}</p>
    </div>

    <div class="column is-one-third">
        {{- $image3 -}}
        <h3>{{- $title3 -}}</h3>
        <p>{{- $caption3 -}}</p>
    </div>
</div>