<div class="columns is-centered container">
    <div class="column is-three-fifths">
    <h2>{{ .Params.subfeatTitle }}</h2>

    {{ range $block := .Params.subfeatContent }}
    <div class="">
        {{ with $image := $.Page.Resources.Get $block.image }}
        {{ $imageScale := 1 }}

        {{ if hasSuffix $image "@2x.png" }}
            {{ $imageScale = 2 }}
        {{ end }}

        <img src="{{ $image.Permalink | relURL }}" width="{{ div $image.Width $imageScale}}" />
        {{ end }}
        <h3>{{ $block.title }}</h3>
        <p>{{ $block.caption }}</p>
    </div>
    {{ end }}
    </div>
</div>