{{- define "main" -}}

    {{- partial "navbar.html" . -}}
    {{- partial "navbar-clone.html" . -}}

    {{- partial "hero.html" . -}}
    
    {{- partial "single/feature.html" . -}}
    {{- partial "single/subfeature.html" . -}}

    <section class="homepage-content">
    <div class="container has-text-centered px-40 mb-60">
        <div class="columns is-centered">
            <div class="column is-two-thirds">
            {{ .Content }}
            </div>
        </div>
    </div>
    </section>
    
    {{- partial "footer.html" . -}}

    <!-- Back To Top Button -->
    <div id="backtotop"><a href="#"></a></div>

    {{- partial "sidebar.html" . -}}

{{- end -}}
